body{
  background-color: #edf2f7;
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
}

div{
  box-sizing: border-box;
}

.container{
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width: 900px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}